body{
    background-image: url("../img/BackgroundHome.jpg");
}

form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    direction: rtl;
    font-family: IRANSans;
    font-weight: bold;
    margin: 10%;
}