
#header-Education{
    color: #ffffff;
    margin: auto;
    height: 50px;
    background-image: url("img/backList.jpg");
    background-size: cover;
    padding: 20px;
    font-weight: bold;
    margin-right: 10px;
    direction: rtl;

}
/*...................................................................................................................*/
#Title{
    background-color: #ffffff;
    margin-right: 10px;
    margin: auto;


}
#Title p{
    font-weight:bold;
    width: 100%;
    padding:10px;
}
/*...................................................................................................................*/
.dropdown-menu a{
    direction: rtl;
    text-align: right;
}
.dropdown-menu a:hover{
    background-color: #d9fc2b;
}
.dropdown button {
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
    width: 150px;
}

.dropdown-toggle:hover{
    /*background-image: url("img/BackgroundHome.jpg");*/
    background-size: cover;
    transition: 1s;
    border: none;
    color: #000000;
}

/*...................................................................................................................*/
.ListGallery{
    background-color: #ffffff;
    margin: auto;
    /*padding: 20px;*/
    margin-right: 10px;
}

.SCard{
    background-color: #ffffff;
    border: 6px solid #aaf191;
    width:25%;
    height:180px;
    margin: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.MCard{
    border: 4px solid #f29e93;
    width:30%;
    height: 180px;
    margin: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.LCard{
    border:2px solid #d695f3;
    width:35%;
    height: 180px;
    margin: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.xsCard{
    border:3px solid #8fbcf3;
    width:40%;
    height: 180px;
    margin: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.XLCard{
    background-color: #55769f;
    width:24%;
    height: 180px;
    margin: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
.ListGallery .Svideo{
    border: 1.5px solid #ffffff;
    width:100%;
    height:75%;
    background-image: url("../img/backVideo.jpg");
    background-size: cover;
}
.ListGallery .Mvideo{
    border: 2px solid #f29e93;
    width:100%;
    height:80%;
    background-image: url("../img/p.gif");
    background-size: cover;
}
.ListGallery .Lvideo{
    border: 2px solid #ffffff;
    width:100%;
    height:82%;
    background-image: url("../img/backVideo.jpg");
    background-size: cover;
}
.ListGallery .xsvideo {
    border: 2px solid #ffffff;
    width:100%;
    height:82%;
    background-image: url("../img/backVideo.jpg");
    background-size: cover;
}
.ListGallery .XLvideo {
    border: 2px solid #ffffff;
    width:100%;
    height:83%;
    background-image: url("../img/backVideo.jpg");
    background-size: cover;
}
.ListGallery button{
    width:50%;
    height:30px;
    position: center;
    border:2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-family: IRANSans;
    font-size: 10px;
    /*border-radius: 5px;*/
}


.ListGallery button:hover{
    background-color: #d9fc2b;
    font-weight: bold;
    transition: 1s;
}
/*.............................................................................................*/
#showListHome{
    background-image: url("../img/CIRLEpROFILE.jpg");
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-size: cover;
    border: none;
    margin-top: 4%;
    margin-right: 41%;
    margin-bottom: 8%;
}
#showListHome:hover{
    border: 5px solid #d43f3a;
}
#container{
    overflow-y: scroll;
}
