#Add-newGallery{
    text-align: center;
    direction: rtl;
    /*background-color: #8fc5f3;*/
    padding: 5px;
    margin: auto;
    font-weight: bold;


    }
#Add-newGallery a{
position: absolute;
    left: 30%;
    background-color: #54759f;
    text-align: center;
    padding: 10px;
    border-radius: 5px!important;
    color: #ffffff;
    font-size:13px;
    text-decoration: none;
}

#header-GAllery{
    color: #ffffff;
    margin: auto;
    height: 50px;
    background-image: url("../img/backList.jpg");
    background-size: cover;
    padding: 20px;
    font-weight: bold;
    margin-right: 10px;
    direction: rtl;
}
/*...................................................................................................................*/

/*...................................................................................................................*/
.dropdown-menu a{
    direction: rtl;
    text-align: right;
}
.dropdown-menu a:hover{
    background-color: #d9fc2b;
}
#Title{
    background-color: #ffffff;
    margin-right: 10px;
    margin: auto;


}
#Title p{
    font-weight:bold;
    width: 100%;
    padding:10px;
}
.dropdown button {
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
    width: 150px;
}

.dropdown-toggle:hover{
    background-image: url("../img/BackgroundHome.jpg");
    background-size: cover;
    transition: 1s;
    border: none;
    color: #000000;
}

/*...................................................................................................................*/
.ListGallery{
    background-color: #ffffff;
    margin: auto;
    /*padding: 20px;*/
    margin-right: 10px;
}


.ListGallery .Svideo{
    border: 1.5px solid #ffffff;
    width:100%;
    height:75%;
    background-image: url("../img/UserPicture.jpg");
    background-size: cover;
}

.ListGallery button{
    width:50%;
    height:30px;
    position: center;
    border:2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-family: IRANSans;
    font-size: 10px;
    /*border-radius: 5px;*/
}


.ListGallery button:hover{
    background-color: #d9fc2b;
    font-weight: bold;
    transition: 1s;
}
/*.............................................................................................*/
#showListHome{
    background-image: url("../img/CIRLEpROFILE.jpg");
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-size: cover;
    border: none;
    margin-top: 4%;
    margin-right: 41%;
    margin-bottom: 8%;
}
.div-parent{
    width: 100%;
    height: 200px;
    background-color: #239d0f;
}
#showListHome:hover{
    border: 5px solid #d43f3a;
}
#Parent{
    overflow-y: scroll;width: 100%;margin: auto;

}
#Parent .card,.CardVideo{
    /*float: left;*/
}
.card,.CardVideo {
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-family: IRANSans;
    background-color: #ffffff;
    padding: 1%;
    border: none;
    float: right;
    margin-right: 2%;
}
#Parent::-webkit-scrollbar {
    width: 1em;
}

#Parent::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    /*outline: 1px solid #f22e14;*/
}
.card img {
    width: 250px;
    height: 180px;
    border: 2px solid #000000
}

.CardVideo video{
    width: 250px;
    height: 180px;
    border: 2px solid #000000
}
.LinkVideo{
    /*background-color: yellow;*/
    margin-left: 2px;
}

.card span{
    font-family: IRANSans;
    font-weight: bold;
    width: 100px;
    /*background-color: #2e6da4;*/
    /*color: #ffffff;*/
    padding: 6px;
    border-radius:3px;
}

